<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tphy.peis.mapper.peisReport.ThirdECGMapper">
    <insert id="savePacsResultEcg">
        insert into pacs_result_ecg(exam_num, req_no, item_name, pacs_item_code, study_type,
                                    clinic_diagnose, clinic_symptom, is_abnormal, img_max, fileformat,
                                    angle, study_state, reg_doc, check_doc, check_date,
                                    report_doc, report_date, is_tran_image, is_report_image, is_synthesized,
                                    create_time, times)
        values (#{pacsEcgResult.EXAM_NUM}, #{pacsEcgResult.REQ_NO}, #{thirdEcgApplyDTO.STUDY_ITEM},
                #{thirdEcgApplyDTO.ITEM_CODE}, '5', #{pacsEcgResult.CONCLUSIONS},
                #{pacsEcgResult.CONCLUSIONS}, 'N', '6', 'jpg', '0',
                '5', '张立华', '张立华', GETDATE(), '张立华',
                #{pacsEcgResult.REPORT_DATETIME}, '1', '1', '0',
                GETDATE(), '1')
    </insert>



    <select id="getPacsEcgData" resultType="com.tphy.peis.entity.dto.ThirdEcgApplyDTO">
        select *
        from PACS_APPLY

    </select>

    <!--    &#45;&#45;         select *-->
    <!--    &#45;&#45;         from THIRD_ECG_RESULT-->
    <!--    &#45;&#45;         where exam_num = #{examNum}-->
    <!--    &#45;&#45;           and REQ_NO = #{reqNo}-->

<!--    SELECT top 1-->
<!--    '92310070006'                                          AS EXAM_NUM, '02401050001' AS REQ_NO,-->
<!--    '2024-01-04 11:22:00'                                  AS REPORT_DATETIME,-->
<!--    '测试结论'                                             AS CONCLUSIONS,-->
<!--    '测试医生'                                             AS REPORT_DOCTORNAME,-->
<!--    '已检查'                                               AS EXAM_STATUS,-->
<!--    'http://123.125.12.107/peisreport/PDF/92307250489.jpg' AS REPORT_URL-->
<!--    from ReportPDF-->
    <select id="getPacsEcgResult" resultType="com.tphy.peis.entity.dto.ThirdEcgResultDTO">


        select *
        from THIRD_ECG_RESULT
        where exam_num = #{examNum}
          and REQ_NO = #{reqNo}
    </select>


    <select id="saveEcgData" resultType="hashmap" statementType="CALLABLE" parameterType="hashmap">
        exec proc_report_auto_save_common
        @exam_num=#{exam_num,jdbcType=VARCHAR},
        @item_code=#{item_code,jdbcType=VARCHAR},
        @study_type=#{study_type,jdbcType=VARCHAR},
        @check_doct=#{check_doct,jdbcType=VARCHAR},
        @check_date=#{check_date,jdbcType=DATE},
        @Diagnose=#{Diagnose,jdbcType=VARCHAR},
        @check_desc=#{check_desc,jdbcType=VARCHAR},
        @error_code=#{error_code,jdbcType=VARCHAR}
    </select>


    <select id="getPacsdetailData" resultType="com.tphy.peis.entity.dto.PacsDetailDTO">
        select pacs_req_code AS pacsReqCode, summary_id AS summaryId
        from pacs_detail
        where dep_num = 'ECG'
          and chargingItem_num = #{itemCode}
          and examinfo_num = #{examNum}
    </select>
</mapper>